.certs-header {
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
}

.certs-body-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:1380px){
    .certs-header{
        font-size: 40px;
    }
}

@media (max-width:768px){
    .certs-body-div{
        flex-direction: column;
    }

    .certs-header{
        font-size: 30px;
        text-align: center;
    }
}